
/* 1. Use the descendant combinator selector to remove list style type bullet points and text underlining from the menu list items */
nav ul > li,
li > a {
  list-style: none;
  text-decoration: none;
}

/* 2. Use the child combinator to display the menu list items inline */

nav ul li {
  display: inline;
}

/* 3. Use the adjacent sibling combinator selector to apply some margin between the menu list items */
nav > ul > li + li {
  margin-left: 15px;
}
