*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./Assets/background-image.png);
    background-position: bottom;
    height: 100vh;
    background-repeat: no-repeat;
    max-width: 100%;
    margin: auto
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    height: 10vh;
    
}

#logo{
   left: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
 
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}  

nav ul :hover{
  background-color: #ED017F;
 border-radius: 10px;
 padding: 2px;
}

.nav-btn{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    font-weight: bold;
}

.nav-btn > button, .apply-btn{
    padding: 8px 15px ;
    border: none;
    color: #ffffff;
    background-color: #ED017F;
    border-radius: 5px;
}

.checkbtn {
  font-size: 30px;
  color: white;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}


/* Main Section */

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 7%;
    height: 100vh; 
}

.section-left{
    position: relative;
    width: 35%;
}

  .section-left h1{
    font-size: 4rem;
    padding-bottom: 20px;
    display: block;

}

.section-left p{
    font-size: 22px;
    color: #676767;
    padding-bottom: 20px;  
}

.main_image{
  display: none;
}

.cal-btn{
    padding: 8px 20px ;
    color: #ED017F;
    border-radius: 5px;
    border: 1px solid #ED017F;
    background-color: #ffffff;
    margin-left: 10px;
}

.bottom{
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 10px;
}

.bottom > p{
    padding-top: 20px;
}

.line{
  position: relative;
    background-color: #676767;
    height: 1.4rem;
    width: 2px;
    margin: 0 10px;
}

/* Section Right */

.section-right{
    position: relative;
    width: 65%;
    
}

.car-loans{
    position: absolute;
    display: flex;
    align-items: center;
    width: 130px;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 30px;
    top: 15%;
    left: 10%;
    background-color: #ffffff;
    border: none;
    box-shadow: 1px 1px 20px gray;
}

.home-loans {
    position: absolute;
    border: 1px solid red;
    display: flex;
    align-items: center;
    width: 140px;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 30px;
    right: 10%;
    top: 25%;
    background-color: #ffffff;
    border: none;
    box-shadow: 10px 10px 50px grey;
    
}

button:hover, .bottom {
    cursor: pointer;
}

.hero-image{
    top: 150px;
   width: 100%;
   height: 100%;
   
}

/* Media query apply */

@media screen and (max-width: 968px) {

  #check {
    display: block;
    order: 1;
    margin-right: 20px;
  }

  nav ul{
    position: fixed;
    top: 80px;
    right: -100%;
    background-color: green;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;

  }
    
  
    
    
}

#logo{
   left: 2rem;
}

 
  
    .section-left {
      align-items: center;
      flex-direction: column;
      margin: auto;
      margin-top: 40px;
      gap: 0.3rem;
      width: 100%;
    
    }
    .section-left > h1 {
      font-size: 3rem;
      padding: 2px 2px;
      position: relative;
    }

    .section-left > p {
      font-size: 1.5rem;
      padding: 2px 2px;
     margin-bottom: 10px;
      
    }

    .apply-btn{
      padding: 8px 15px ;
      border: none;
      color: #ffffff;
      background-color: #ED017F;
      border-radius: 5px;
      margin-bottom: 15px;
      font-size: small;
  }

  .cal-btn{
    font-size: small;
    padding: 8px 15px ;
    color: #ED017F;
    border-radius: 5px;
    border: 1px solid #ED017F;
    background-color: #ffffff;
    margin-left: auto;
    
}
  
   


  @media screen and (max-width: 768px){
    .home-loans, .car-loans  {
      display: none;
    }
    .section-right{
      display: none;
      
  }
  body{
    background-image: none;  
}

.main_image{
  display: block;
  margin-right: 2rem;

  }

  .section-left > div >.main_image{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

}
  
  /***** End MediaQuries *****/

  
  