
/* Base styles for the paragraph block */
.paragraph{
    font-family:Arial, Helvetica, sans-serif ;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    line-height: 20px;
    
}

/* Modifier for the introductory paragraph */
.paragraph-intro{
    color: white;
    background-color: black;
}

/* Modifier for the informational paragraph */
.paragraph-info{
    color: brown;
    background-color: #1eabed;
}

/* Modifier for the warning paragraph */
.paragraph-warning{
    color: blue;
    background-color: gray;
}

/* Modifier for the success paragraph */
.paragraph-success{
    color: yellow;
    background-color: red;
}