
/* Task-B  */
/* 1.  Use a CSS combinator selectors to target all the anchor tags and change the text color to red */
li > a {
  color: red;
}

/* 2. Target only the first <h2> tag and change the text and background color using the combinator selector */
nav > h2:first-of-type {
  color: blue;
  background-color: #f0ff24;
}

/*3. Select the first <p> tag and change the text color to red */
nav > p:first-of-type {
  color: red;
}

/* Task-C */
/* 1. Target the anchor tag with attribute "href" and change color to red and remove the text underline */
a[href] {
  color: red;
  text-decoration: none;
}

/* 2. Target the anchor tag with the attribute of class name "active", change the text color, and provide the text style properties with underlining */
a[class="active"] {
  color: blue;
  text-decoration: underline;
}

/* 3. Target the anchor tag with the attribute of the target whose value is "_self" and change the background color */
a[target="_self"] {
  background-color: yellow;
}

/* Task-D */
/* 1. Target the last <p> tag and add "..." i.e. three dots after its value */
nav > p:last-of-type::after {
  content: "...";
}

/* 2. Target the list of bullet points and change the color of the bullet points without changing the list item's value */
ul li::marker {
  color: green;
}

/* 3. Among the three <p> tags, target the 2nd <p> tag, select the first letter of the second <p> tag, change the color to red, and increase the font size to 30px */
nav > p:nth-of-type(2)::first-letter {
  color: red;
  font-size: 30px;
}
