*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    background: #09eaaa;
    color: brown;
    height: 50px;
    text-align: center;
    justify-content: center;
    font-weight: 400;
   
}

nav{
    background: #f5ce0e;
    font-size: 20px;
    
}

nav  a {
    gap: 20px;
}